# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Pixelizer.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\chris\dev\Pixelizer\.idea\.idea.Pixelizer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
